body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas{
    position: absolute;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 75vh;
  } 